<h1>New Arms Workout Data</h1>

<%= render 'form' %>

<%= link_to 'Biceps', biceps_path %>
<%= link_to 'Triceps', triceps_path %>
<%= link_to 'Forearms', forearms_path %>

<%= link_to 'Back', arms_path %>