<h1>New Arms Workout Data</h1>

<%= render 'form' %>

<h3>Which part of the arm do you want to workout?</h3>

<%= link_to 'Biceps', new_bicep_path %> |
<%= link_to 'Triceps', new_tricep_path %> |
<%= link_to 'Forearms', new_forearm_path %> |

<%= link_to 'Back', new_workout_data_path %>