<p id="notice"><%= notice %></p>

<h2><%= treadmill.status_type %></h2>
<h2><%= treadmill.speed %> miles per hour</h2>
<h2><%= treadmill.time %> minutes</h2>
<h2><%= treadmill.incline %></h2>
<h2><%= treadmill.distance %> miles</h2>

<%= link_to 'Edit', edit_treadmill_path(treadmill) %> |
<%= link_to 'Back', treadmills_path %>