<div class='well bs-component col-lg-8'>
  <%= form_for(@elliptical, url: workout_data_ellipticals_path(@workout_data, @elliptical)) do |f| %>
    <% if @elliptical.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@elliptical.errors.count, "error") %> prohibited this ellipticals workout data from being saved:</h2>

        <ul>
        <% @elliptical.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Core Workout', 'Elliptical Core Workout'], ['Short Interval', 'Elliptical Short Interval'], ['Interval Workout', 'Elliptical Interval Workout'], ['Interval Shrinking Recovery', 'Elliptical Interval Shrinking Recovery'], ['30 Minute Workout', 'Elliptical 30 Minute Workout']])) %><br><br>
        </div>   
      </div>

      <div class='form-group'>
        <%= f.label :speed, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :speed, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :time, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :time, class: 'form-control', autofocus: true %>
          <p>(by minutes)</p><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :distance, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :distance, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :resistance, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :resistance, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :incline, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :incline, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
