<p id="notice"><%= notice %></p>

<h2><%= elliptical.status_type %></h2>
<h2><%= elliptical.speed %> miles per hour</h2>
<h2><%= elliptical.time %> minutes</h2>
<h2><%= elliptical.distance %> miles</h2>
<h2><%= elliptical.resistance %></h2>
<h2><%= elliptical.incline %></h2>

<%= link_to 'Edit', edit_elliptical_path(elliptical) %> |
<%= link_to 'Back', ellipticals_path %>

