<tr>
  <td><%= lower_back.status_type %></td>
  <td><%= lower_back.weight %></td>
  <td><%= lower_back.set %></td>
  <td><%= lower_back.rep %></td>
  <td><%= link_to 'Show', lower_back %></td>
  <td><%= link_to 'Edit', edit_workout_data_lower_back_path(lower_back) %></td>
  <td><%= link_to 'Destroy', lower_back, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>