<p id="notice"><%= notice %></p>

<h2><%= lower_back.name %></h2>
<h2><%= lower_back.weight %></h2>
<h2><%= lower_back.set %></h2>
<h2><%= lower_back.rep %></h2>

<%= link_to 'Edit', edit_lower_back_path(lower_back) %> |
<%= link_to 'Back', lower_backs_path %>