<h1>New Legs Workout Data</h1>

<%= render 'form' %>

<%= link_to 'Hamstring', hamstrings_path %>
<%= link_to 'Calves', calves_path %>
<%= link_to 'Quads', quads_path %>

<%= link_to 'Back', legs_path %>