<h1>New Legs Workout Data</h1>

<%= render 'form' %>

<h3>What part of leg do you want to workout?</h3>

<%= link_to 'Hamstring', new_hamstring_path %>
<%= link_to 'Calves', new_calf_path %>
<%= link_to 'Quads', new_quad_path %>

<%= link_to 'Back', new_workout_data_path %>