<div class='well bs-component col-lg-8'>
  <%= form_for(@upper_back, url: workout_data_upper_backs_path(@workout_data, @upper_back)) do |f| %>
    <% if @upper_back.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@upper_back.errors.count, "error") %> prohibited this Upper Backs workout data from being saved:</h2>

        <ul>
        <% @upper_back.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Single-arm Barbell Row', 'Single-arm Barbell Row (Upper Back)'], ['Single-arm Cable Row', 'Single-arm Cable Row (Upper Back)'], ['Single-arm Smith Machine Shrug', 'Single-arm Smith Machine Shrug (Upper Back)'], ['Single-arm Overhead Machine Pulldown', 'Single-arm Overhead Machine Pulldown (Upper Back)'], ['Incline Dumbbell Row', 'Incline Dumbbell Row (Upper Back)'], ['Bent-over Dumbbell Row', 'Bent-over Dumbbell Row (Upper Back)'], ['Wide-grip Lat Pull-down', 'Wide-grip Lat Pull-down (Upper Back)']])) %><br><br>
        </div> 
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
