<p id="notice"><%= notice %></p>

<h2><%= upper_back.status_type %></h2>
<h2><%= upper_back.weight %></h2>
<h2><%= upper_back.set %></h2>
<h2><%= upper_back.rep %></h2>

<%= link_to 'Edit', edit_upper_back_path(upper_back) %> |
<%= link_to 'Back', upper_backs_path %>