<tr>
  <td><%= bicep.status_type %></td>
  <td><%= bicep.weight %></td>
  <td><%= bicep.set %></td>
  <td><%= bicep.rep %></td>
  <td><%= link_to 'Show', bicep %></td>
  <td><%= link_to 'Edit', edit_bicep_path(bicep) %></td>
  <td><%= link_to 'Destroy', bicep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>