<div class='well bs-component col-lg-8'>
  <%= form_for(@bicep, url: workout_data_biceps_path(@workout_data, @bicep)) do |f| %>
    <% if @bicep.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bicep.errors.count, "error") %> prohibited this biceps workout data from being saved:</h2>

        <ul>
        <% @bicep.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Barbell Curl', 'Biceps Barbell Curl'], ['Alternate Hammer Curl', 'Biceps Alternate Hammer Curl'], ['Dumbbell Curl', 'Biceps Dumbbell Curl'], ['Preacher Curl', 'Biceps Preacher Curl'], ['Cable Curl', 'Biceps Cable Curl'], ['Bar Curl', 'Biceps Bar Curl'], ['Drag Curl', 'Biceps Drag Curl'], ['Concentration Curls', 'Biceps Concentration Curls'], ['EZ-bar Curl', 'Biceps EZ-bar Curl']])) %><br><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
