<div class='page-header'>
  <h1>Your Current Bicep Workout</h1>
</div>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>    
    </tr>
  </thead>

  <tbody>
    <% @biceps.each do |bicep| %>
      <tr>
        <td><%= link_to bicep.name, bicep %></td>
        <td><%= bicep.names %></td>
        <td><%= link_to bicep.weight, bicep %></td>
        <td><%= bicep.weights %></td>
        <td><%= link_to bicep.set, bicep %></td>
        <td><%= bicep.sets %></td>
        <td><%= link_to bicep.rep, bicep %></td>
        <td><%= bicep.reps %></td>
        <td><%= link_to 'Edit', edit_bicep_path(bicep) %> | 
            <%= link_to 'Destroy', bicep, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biceps Workout Data', new_bicep_path, class: 'btn btn-primary' %>
