<p id="notice"><%= notice %></p>

<h2><%= bicep.name %></h2>
<h2><%= bicep.weight %></h2>
<h2><%= bicep.set %></h2>
<h2><%= bicep.rep %></h2>

<%= link_to 'Edit', edit_bicep_path(bicep) %> |
<%= link_to 'Back', biceps_path %>