<h1>New Upper Body Workout Data</h1>

<%= render 'form' %>

<%= link_to 'Shoulders', shoulders_path %>
<%= link_to 'Chest', chests_path %>
<%= link_to 'Upper Back', upper_backs_path %>

<%= link_to 'Back', upper_bodies_path %>