<h1>New Upper Body Workout Data</h1>

<%= render 'form' %>

<h3>What part of your upper body do you want to workout?</h3>

<%= link_to 'Shoulders', new_shoulder_path %>
<%= link_to 'Chest', new_chest_path %>
<%= link_to 'Upper Back', new_upper_back_path %>

<%= link_to 'Back', new_workout_data_path %>