<div class='well bs-component col-lg-8'>
  <%= form_for(@threadmill, url: threadmills_path(@threadmill)) do |f| %>
    <% if @threadmill.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@threadmill.errors.count, "error") %> prohibited this threadmills workout data from being saved:</h2>

        <ul>
        <% @threadmill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label :name, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.text_field :name, class: 'form-control', autofocus: true %>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :speed, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :speed, class: 'form-control', autofocus: true %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :time, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.time_field :time, class: 'form-control', autofocus: true %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :incline, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :incline, class: 'form-control', autofocus: true %>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :distance, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :distance, class: 'form-control', autofocus: true %>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
