<tr>
  <td><%= threadmill.name %></td>
  <td><%= threadmill.speed %></td>
  <td><%= threadmill.time %></td>
  <td><%= threadmill.incline %></td>
  <td><%= threadmill.distance %></td>
  <td><%= link_to 'Show', threadmill %></td>
  <td><%= link_to 'Edit', edit_threadmill_path(threadmill) %></td>
  <td><%= link_to 'Destroy', threadmill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>