<p id="notice"><%= notice %></p>

<h2><%= threadmill.name %></h2>
<h2><%= threadmill.speed %></h2>
<h2><%= threadmill.time %></h2>
<h2><%= threadmill.incline %></h2>
<h2><%= threadmill.distance %></h2>

<%= link_to 'Edit', edit_threadmill_path(threadmill) %> |
<%= link_to 'Back', threadmills_path %>