<h1>New Workout Data</h1>

<%= render 'form' %>

<h3>What do you want to workout today?</h3>

<%= link_to 'Arms', arms_path %>

<%= link_to 'Cardio', cardios_path %>

<%= link_to 'Legs', legs_path %>

<%= link_to 'Lower Body', lower_bodies_path %>

<%= link_to 'Upper Body', upper_bodies_path %>

<%= link_to 'Return', workout_datas_path %>