<div class='well bs-component col-lg-8'>
  <%= form_for(@tricep, url: triceps_path(@tricep)) do |f| %>
    <% if @tricep.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tricep.errors.count, "error") %> prohibited this triceps workout data from being saved:</h2>

        <ul>
        <% @tricep.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Bench Dips', 'Bench Dips'], ['Cable One-arm Tricep Extension', 'Cable One-arm Tricep Extension'], ['Dumbbell One-arm Tricep Extension', 'Dumbbell One-arm Tricep Extension'], ['Incline Barbell Triceps Extension', 'Incline Barbell Triceps Extension'], ['Seated Triceps Press', 'Seated Triceps Press'], ['Standing Dumbbell Triceps Extension', 'Standing Dumbbell Triceps Extension'], ['Standing Bent-over One-arm Dumbbell Triceps', 'Standing Bent-over One-arm Dumbbell Triceps']])) %><br><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  