<tr>
  <td><%= tricep.name %></td>
  <td><%= tricep.weight %></td>
  <td><%= tricep.set %></td>
  <td><%= tricep.rep %></td>
  <td><%= link_to 'Show', tricep %></td>
  <td><%= link_to 'Edit', edit_tricep_path(tricep) %></td>
  <td><%= link_to 'Destroy', tricep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>