<p id="notice"><%= notice %></p>

<h2><%= tricep.name %></h2>
<h2><%= tricep.weight %></h2>
<h2><%= tricep.set %></h2>
<h2><%= tricep.rep %></h2>

<%= link_to 'Edit', edit_tricep_path(tricep) %> |
<%= link_to 'Back', triceps_path %>