<p id="notice"><%= notice %></p>

<h2>Name: <%= tricep.status_type %></h2>
<h2>Weight: <%= tricep.weight %></h2>
<h2>Sets: <%= tricep.set %></h2>
<h2>Reps: <%= tricep.rep %></h2>

<%= link_to 'Edit', edit_tricep_path(tricep) %> |
<%= link_to 'Back', triceps_path %>