<tr>
  <td><%= abdominal.status_type %></td>
  <td><%= abdominal.weight %></td>
  <td><%= abdominal.set %></td>
  <td><%= abdominal.rep %></td>
  <td><%= link_to 'Show', abdominal %></td>
  <td><%= link_to 'Edit', edit_abdominal_path(abdominal) %></td>
  <td><%= link_to 'Destroy', abdominal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>