<div class='well bs-component col-lg-8'>
  <%= form_for(@abdominal, url: abdominals_path(@abdominal)) do |f| %>
    <% if @abdominal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@abdominal.errors.count, "error") %> prohibited this abdominals workout data from being saved:</h2>

        <ul>
        <% @abdominal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Sit-up', 'Sit-up'], ['Crunch', 'Cruch'], ['Oblique', 'Oblique'], ['Windmill', 'Windmill'], ['Side Bend', 'Side Bend'], ['Elbow to Knee', 'Elbow to Knee'], ['Pull-in', 'Pull-in'], ['Leg Raise', 'Leg Raise'], ['Air Bike', 'Air Bike'], ['Russian Twist', 'Russian Twist']])) %><br><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
