<p id="notice"><%= notice %></p>

<h2>Name: <%= abdominal.status_type %></h2>
<h2>Weight: <%= abdominal.weight %> lbs</h2>
<h2>Sets: <%= abdominal.set %></h2>
<h2>Reps: <%= abdominal.rep %></h2>

<%= link_to 'Edit', edit_workout_data_abdominal_path(abdominal) %> |
<%= link_to 'Back', workout_data_abdominals_path %>