<p id="notice"><%= notice %></p>

<h2><%= abdominal.name %></h2>
<h2><%= abdominal.set %></h2>
<h2><%= abdominal.rep %></h2>

<%= link_to 'Edit', edit_abdominal_path(abdominal) %> |
<%= link_to 'Back', abdominals_path %>