<div class='well bs-component col-lg-8'>
  <%= form_for(@calf, url: workout_data_calves_path(@workout_data, @calf)) do |f| %>
    <% if @calf.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@calf.errors.count, "error") %> prohibited this calves workout data from being saved:</h2>

        <ul>
        <% @calf.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Calf Press', 'Calf Press'], ['Calf Raise on a Dumbbell', 'Calf Raise on a Dumbbell'], ['Calf Raises with Bands', 'Calf Raises with Bands'], ['Dumbbell Seated Calf Raise', 'Dumbbell Seated Calf Raise'], ['Rocking Standing Calf Raise', 'Rocking Standing Calf Raise'], ['Smith Machine Calf Raise', 'Smith Machine Calf Raise'], ['Standing Barbell Calf Raise', 'Standing Barbell Calf Raise'], ['Standing Dumbbell Calf Raise', 'Standing Dumbbell Calf Raise']])) %><br><br>
        </div> 
      </div>  

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
