<p id="notice"><%= notice %></p>

<h2><%= calf.status_type %></h2>
<h2><%= calf.weight %></h2>
<h2><%= calf.set %></h2>
<h2><%= calf.rep %></h2>

<%= link_to 'Edit', edit_calf_path(calf) %> |
<%= link_to 'Back', calves_path %>