<div class='well bs-component col-lg-8'>
  <%= form_for(@quad, url: quads_path(@quad)) do |f| %>
    <% if @quad.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quad.errors.count, "error") %> prohibited this quads workout data from being saved:</h2>

        <ul>
        <% @quad.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label :name, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.text_field :name, class: 'form-control', autofocus: true %>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
