<tr>
  <td><%= quad.status_type %></td>
  <td><%= quad.weight %></td>
  <td><%= quad.set %></td>
  <td><%= quad.rep %></td>
  <td><%= link_to 'Show', quad %></td>
  <td><%= link_to 'Edit', edit_quad_path(quad) %></td>
  <td><%= link_to 'Destroy', quad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>