<div class='page-header'>
  <h1>Your Current Quads Workout Data</h1>
</div>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weights</th>
      <th>Sets</th>
      <th>Reps</th>    
    </tr>
  </thead>

  <tbody>
    <% @quads.each do |quad| %>
      <tr>
        <td><%= link_to quad.name, quad %></td>
        <td><%= quad.names %></td>
        <td><%= link_to quad.weight, quad %></td>
        <td><%= quad.weights %></td>
        <td><%= link_to quad.set, quad %></td>
        <td><%= quad.sets %></td>
        <td><%= link_to quad.rep, quad %></td>
        <td><%= quad.reps %></td>
        <td><%= link_to 'Edit', edit_quad_path(quad) %> | 
            <%= link_to 'Destroy', quad, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quads Workout Data', new_quad_path, class: 'btn btn-primary' %>
