<p id="notice"><%= notice %></p>

<h2><%= quad.name %></h2>
<h2><%= quad.weight %></h2>
<h2><%= quad.set %></h2>
<h2><%= quad.rep %></h2>

<%= link_to 'Edit', edit_quad_path(quad) %> |
<%= link_to 'Back', quads_path %>