<p id="notice"><%= notice %></p>

<h2>Name: <%= quad.status_type %></h2>
<h2>Weight: <%= quad.weight %> lbs</h2>
<h2>Sets: <%= quad.set %></h2>
<h2>Reps: <%= quad.rep %></h2>

<%= link_to 'Edit', edit_workout_data_quad_path(quad) %> |
<%= link_to 'Back', workout_data_quads_path %>