<div class='well bs-component col-lg-8'>
  <%= form_for(@shoulder, url: shoulders_path(@shoulder)) do |f| %>
    <% if @shoulder.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@shoulder.errors.count, "error") %> prohibited this shoulders workout data from being saved:</h2>

        <ul>
        <% @shoulder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Arnold Dumbbell Press', 'Arnold Dumbbell Press'], ['Barbell Shoulder Press', 'Barbell Shoulder Press'], ['Barbell Front Raise', 'Barbell Front Raise'], ['Side Lateral To Front Raise', 'Side Lateral To Front Raise'], ['Dumbbell Shoulder Press', 'Dumbbell Shoulder Press'], ['One Arm Side Laterals', 'One Arm Side Laterals']])) %><br><br>
        </div>   
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
