<tr>
  <td><%= shoulder.status_type %></td>
  <td><%= shoulder.weight %></td>
  <td><%= shoulder.set %></td>
  <td><%= shoulder.rep %></td>
  <td><%= link_to 'Show', shoulder %></td>
  <td><%= link_to 'Edit', edit_workout_data_shoulder_path(shoulder) %></td>
  <td><%= link_to 'Destroy', shoulder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>