<p id="notice"><%= notice %></p>

<h2>Name: <%= shoulder.status_type %></h2>
<h2>Weight: <%= shoulder.weight %></h2>
<h2>Sets: <%= shoulder.set %></h2>
<h2>Reps: <%= shoulder.rep %></h2>

<%= link_to 'Edit', edit_workout_data_shoulder_path(shoulder) %> |
<%= link_to 'Back', workout_data_shoulders_path %>