<p id="notice"><%= notice %></p>

<h2><%= shoulder.name %></h2>
<h2><%= shoulder.weight %></h2>
<h2><%= shoulder.set %></h2>
<h2><%= shoulder.rep %></h2>

<%= link_to 'Edit', edit_shoulder_path(shoulder) %> |
<%= link_to 'Back', shoulders_path %>