<div class='well bs-component col-lg-8'>
  <%= form_for(@hamstring, url: workout_data_hamstrings_path(@workout_data, @hamstring)) do |f| %>
    <% if @hamstring.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@hamstring.errors.count, "error") %> prohibited this hamstrings workout data from being saved:</h2>

        <ul>
        <% @hamstring.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Barbell Deadlift', 'Barbell Deadlift (Hamstring)'], ['Clean Deadlift', 'Clean Deadlift (Hamstring)'], ['Lying Leg Curls', 'Lying Leg Curls (Hamstring)'], ['Natural Glute Ham Raise', 'Natural Glute Ham Raise (Hamstring)'], ['Romanian Deadlift From Deficit', 'Romanian Deadlift From Deficit (Hamstring)'], ['Sumo Deadlift', 'Sumo Deadift (Hamstring)'], ['Dumbbell Clean', 'Dumbbell Clean (Hamstring)']])) %><br><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
