<tr>
  <td><%= hamstring.status_type %></td>
  <td><%= hamstring.weight %></td>
  <td><%= hamstring.set %></td>
  <td><%= hamstring.rep %></td>
  <td><%= link_to 'Show', hamstring %></td>
  <td><%= link_to 'Edit', edit_hamstring_path(hamstring) %></td>
  <td><%= link_to 'Destroy', hamstring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>