<p id="notice"><%= notice %></p>

<h2><%= hamstring.status_type %></h2>
<h2><%= hamstring.weight %></h2>
<h2><%= hamstring.set %></h2>
<h2><%= hamstring.rep %></h2>

<%= link_to 'Edit', edit_hamstring_path(hamstring) %> |
<%= link_to 'Back', hamstrings_path %>