<div class='well bs-component col-lg-8'>
  <%= form_for(@chest, url: workout_data_chests_path(@workout_data, @chest)) do |f| %>
    <% if @chest.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@chest.errors.count, "error") %> prohibited this chests workout data from being saved:</h2>

        <ul>
        <% @chest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label "Name", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.select(:status_type, options_for_select([['Push Ups', 'Push Ups'], ['Barbell Bench Press', 'Barbell Bench Press (Chest)'], ['Barbell Incline Bench Press', 'Barbell Incline Bench Press (Chest)'], ['Bodyweight Flyes', 'Bodyweight Flyes (Chest)'], ['Bent-arm Dumbbell Pullover', 'Bent-arm Dumbbell Pullover (Chest)'], ['Cable Chest Press', 'Cable Chest Press'], ['Butterfly', 'Butterfly (Chest)'], ['Cable Crossover', 'Cable Crossover (Chest)'], ['Decline Dumbbell Bench Press', 'Decline Dumbbell Bench Press (Chest)'], ['Decline Dumbbell Flyes', 'Decline Dumbbell Flyes (Chest)'], ['Decline Smith Press', 'Decline Smith Press (Chest)']])) %><br><br>
        </div>  
      </div>

      <div class='form-group'>
        <%= f.label :weight, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :weight, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :set, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :set, class: 'form-control', autofocus: true %><br>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :rep, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.number_field :rep, class: 'form-control', autofocus: true %><br>
        </div>  
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>  
