<tr>
  <td><%= forearm.status_type %></td>
  <td><%= forearm.weight %></td>
  <td><%= forearm.set %></td>
  <td><%= forearm.rep %></td>
  <td><%= link_to 'Show', forearm %></td>
  <td><%= link_to 'Edit', edit_workout_data_forearm_path(forearm) %></td>
  <td><%= link_to 'Destroy', forearm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>