<p id="notice"><%= notice %></p>

<h2><%= forearm.status_type %></h2>
<h2><%= forearm.weight %></h2>
<h2><%= forearm.set %></h2>
<h2><%= forearm.rep %></h2>

<%= link_to 'Edit', edit_workout_data_forearm_path(forearm) %> |
<%= link_to 'Back', workout_data_forearms_path %>