<p id="notice"><%= notice %></p>

<h2><%= forearm.name %></h2>
<h2><%= forearm.weight %></h2>
<h2><%= forearm.set %></h2>
<h2><%= forearm.rep %></h2>

<%= link_to 'Edit', edit_forearm_path(forearm) %> |
<%= link_to 'Back', forearms_path %>